<!DOCTYPE HTML>
<html ng-app="fliApp">
<head>
	<meta charset="UTF-8">
	<title>FLi</title>
	<link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="css/font.css">
	<script src="js/sockjs-0.3.4.js"></script>
	<script src="js/stomp.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
	<script src="js/js.js" ></script>
	<link rel="stylesheet" href="css/media.css">

</head>
<body onload="connect()">

	<header class="header">
		<img width="135" height="135" src="images/logo.png" alt="Fli" class="logo">
		<h1 class="slogan">зайди и найди!</h1>
	</header>

<!-- ACT 1 -->
	<main class="content" ng-hide="checked" >
		<div></div>
		<p class="block-info block-info_massege">FLi - сервис помогающий любому человек зарегистрированному в vk найти друзй по интересам.</p>
		<div class="search">
		<form action="#">
			<input placeholder="Вставь ссылку на страйницу в VK!" type="text" class="search__input" id="str">
			<button class="button search__button" ng-model="checked"
					ng-init="checked=false" ng-click="checked=true" onclick="send()">найти!</button>
			<div class="block-info filter">
				<h2 class="filter__title">Фильтр: </h2>
				<span>Пол: </span>
				<select name="" id="sex">
					<option value="0">без разницы</option>
					<option value="1">мужской</option>
					<option value="2">женский</option>
				</select>
			</div>
		</form>
		</div>
		<ul class="statistics">
			<li class="statistics__item">
				<h2 class="statistics__info">Сегодня  искали<br>друзей по интересам</h2>
				<h2 class="statistics__number">205</h2>
			</li>
			<li class="statistics__item">
				<h2 class="statistics__info">А мы<br>нашли</h2>
				<h2 class="statistics__number">3075</h2>
			</li>
		</ul>
	</main>
<!-- /ACT 1 -->

<!-- ACT 2 -->
	<main ng-show="checked"  >
		<div   ng-hide="off" class="content">
			<p class="block-info block-info_massege block-info_warning">
				Поиск друзей займёт у нас некоторое время. Пока вы ждёте можите поиграть в игру ниже.
			</p>
			<form class="get-result" action="">
				<button id="button" class="button get-result__button"  ng-model="off" ng-init="off=false"  ng-click="off=true"  >проверить результат!</button>
			</form>
			<canvas class="game"></canvas>
		</div>
	</main>
	<!-- /ACT 2 -->


	<!-- ACT 3 -->
	<main class="content"  ng-show="off" >
		<p class="block-info block-info_massege">
			Мы нашли для вас друзей!
		</p>
		<div class="search-result" id="usersDiv">


		</div>
	</main>
	<!-- /ACT 3 -->




</body>
</html>